html {
    background-color: #000000;
    color: lightgrey;
    text-align: justify;

}

body {
    font-size: 13pt;
    font-family: coda, cursive;
    margin-top: 20%;
}

h2 {
    margin-top: 0px;
    font-weight: bold;
}

li {
    list-style: none;
    margin: 0px;
}

#status {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightGray;
}

#status div {
    display: inline-block;
    padding: 10px 20px;
    color: gray;
    border-left: 1px solid lightGray;
    border-right: 1px solid lightGray;
}

#status div + div {
    border-left: none;
}

.section {
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    max-width: 600px;
    border: 1px solid lightGray;
}

.section#intro {
    display: block;
}

.section button {
    display: block;
    width: 100%;
    color: #101010;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;
    background: lightGray;
    border: none;
    cursor: pointer;
}

.section button + button {
    margin-top: 10px;
}

.section button:hover {
    color: #101010;
    background-color: darkgrey;
}

.xm ul {
    padding-left: 0;
}

a {
    color: cyan;
    text-decoration: none;
    font-style: italic;
}

